.index_swiper {
    swiper {
        width: 750rpx;
        height: 340rpx;
    }

    image {
        width: 100%;
    }
}

.icon-huore {
    font-size: 32rpx;
    padding: 10rpx;
   
    color:orange;
}
.index_floor {
    background-color: whitesmoke;

    .icon-huore {
        font-size: 32rpx;
        padding: 10rpx;
       
        color: red;
    }

    .goods_group {
        .goods_list {
            flex-wrap: wrap;
            display: flex; //伸缩盒子

            navigator {
                margin-left: 10rpx;
                margin-bottom: 10rpx;
                background-color: white;
                width: 48%;

                border-radius: 15rpx;
                box-shadow: 0rpx 0rpx 10rpx rgb(200, 200, 200);

                image {
                  
                    padding: 5rpx;
                   
                }

                .goodsPrice {
                    font-size: 30rpx;
                    font-weight:bold;
                    margin-left: 10rpx;
                    color: var(--themeColor);
                }

                .goodsName {
                    display: -webkit-inline-box;
                    overflow: hidden;
                    margin: 10rpx;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

            }
        }
    }
}

page {
    background-color: whitesmoke;
}