.weui-search-bar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #EFEFF4;
  border-top: 1rpx solid #D7D6DC;
  border-bottom: 1rpx solid #E6E6EA;
  align-items: center;
  .bar_wrap {
    flex: auto;
    border-radius: 10rpx;
    background: #FFFFFF;
    border: 1rpx solid #E6E6EA;
    
    height: 70rpx;
    justify-content: center;

    .search_inf_wrap {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      .icon_serach {
        height: 100%;
      }
    }

    .text_input {
      border-left: 1rpx solid #E6E6EA;
      font-size: 30rpx;
      width: 100%;
      height: 100%;
    }
  }
  .weui-search-bar__serach-btn {
    color: #39A7F2;
    padding: 10rpx;
    background-color: white;
    border: 1rpx solid rgb(221, 219, 219);
    text-align: center;
    border-radius: 10rpx;
    align-items: center;
    margin-right: 2rpx;
    box-shadow: 0rpx 0rpx 10rpx rgb(200, 200, 200);
  }
}











.first_tab {

  margin-top: 100rpx;

  .goods_item {
    background-color: white;
    margin: 10rpx;
    border-radius: 20rpx;
    display: flex;
    box-shadow: 0rpx 0rpx 10rpx rgb(200, 200, 200);

    .goods_img {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      image {
        padding: 5rpx;
        height: auto;
        width: 65%;
      }
    }

    .good_info {

      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .goods_name {
        display: -webkit-inline-box;
        overflow: hidden;
      }

      .goods_price {
        color: var(--themeColor);
      }
    }
  }
}

page {
  background-color: whitesmoke;
}